* {
    margin: 0px;
    padding: 0px;
}

@media only screen and (min-width: 768px) {
    body {
        width: 960px;
        height: 540px;
    }
}

body{
    width: 768px;
    height: 303px;
    margin: 0px auto;
    padding: 0px;
    background-color: gray;
}

@font-face {
    font-family: 'DecoText';
    src: url('../font/Midnight_Signature_TTF.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MainText';
    src: url('../font/BebasNeue_Regular.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

main.container{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-family: 'MainText';
    text-align: center;
    /* background-color: blueviolet; */
}

/* Background */
main.container>.bg{
    position: relative;
    width: 100%;
    height: 100%;
}

.bg>.bg-front{
    position: absolute;
    z-index: auto;
    width: 75%;
    height: 100%;
    object-fit: cover;
    left: 0;
}

.bg>.bg-back{
    position: absolute;
    width: auto;
    height: 100%;
    object-fit: cover;
    right: 0;
}

